<a href="https://colab.research.google.com/github/Wazzer/Python/blob/master/trans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:

url = ("https://warren-trans.s3-eu-west-1.amazonaws.com/Transactions.csv")
df = pd.read_csv(url)
df = df.drop('OriginalDescription', 1)
df = df.rename(columns={"CurrentDescription": "Description", "L1Tag": "L1", "L2Tag": "L2", "L3Tag": "L3"})
df['Date'] =  pd.to_datetime(df['Date'],format='%Y-%m-%d')
df = df.sort_values('Date',ascending=1)

In [0]:
%load_ext google.colab.data_table

In [25]:
df.tail(10)

      Account       Date  ...                          L2                L3
1811    Monzo 2019-09-09  ...         Dining or Going Out      Work canteen
1812    Monzo 2019-09-09  ...               Other account          To Monzo
1571  Current 2019-09-10  ...   Irregular Income or Gifts  Rewards/cashback
1813    Monzo 2019-09-10  ...         Dining or Going Out      Work canteen
1572  Current 2019-09-11  ...                  Cigarettes               NaN
1573  Current 2019-09-12  ...   Irregular Income or Gifts      Sale - other
1814    Monzo 2019-09-13  ...  Food, Groceries, Household               NaN
1574  Current 2019-09-13  ...                        Kids               NaN
1576  Current 2019-09-16  ...           Phone or Internet     Mobile Warren
1575  Current 2019-09-16  ...            Mortgage or Rent  Mortgage payment

[10 rows x 7 columns]